---
import Layout from "@/layouts/RCHeaderFooterLayout.astro";
import '@/globals.css';
import Card from "@/components/ui/Card.astro";
---

<Layout title="Compete">
	<main class="min-h-auto w-[100%]">
        <img src="/images/IMG_7632.JPG" class="h-[400px] w-full object-cover"/></img>
        <h1 class="m-4 font-display text-4xl text-center">Compete in RoboCon</h1>
        <p class="m-4 font-sans text-2xl text-center">RoboCon is a robotics competition which takes place anually at Hills Road Sixth Form College, Cambridge CB2 8PE. The competition is primarily targeted at those in secondary school, however we have the tools to accomodate for those younger as well. The competition launches in October and takes place during April in the Easter holidays. </p>
        <h2 class="m-4 font-display text-2xl text-center">Options to consider if you are interested in competing</h2>
        <div class="grid sm:grid-cols-1 sm:grid-rows-3 md:grid-cols-2 gap-4 w-[100%] p-8 max-w-[1200px] m-auto">
            <Card title="Email" description="Let us know that you're interested" href="mailto:robotics@hrsfc.ac.uk" linkText="Email Us" backgroundColour="red"/>
            <Card title="Launch" description="Come and visit us at Hills Road on the launch day for competition information. Details on our next launch can be found on our 'News' page" href="/news" linkText="Book Now" backgroundColour="green"/>
        </div>
    </main>
</Layout>