---
import Layout from "@/layouts/RCHeaderFooterLayout.astro";
import '@/globals.css';
---

<Layout title="Contact Us">
	<main class="min-h-lvh w-[100%]">
		<img src="/images/IMG_7360.JPG" class="h-[400px] w-full object-cover"/></div>
        <h1 class="m-4 font-display text-4xl text-center">So email us... Maybe?</h1>
        <p class="text-center">Reach out to our friendly team of students, we can't wait to say hello!</p>
		
        <div class="grid grid-cols-3 md:grid-cols-3 gap-4 w-[100%] p-8">
            <div class="items-center h-auto">
                <h1>TEXT</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis et, dignissimos ipsa maxime, nesciunt nobis deserunt minima voluptatibus, possimus autem repellat! Nulla, aspernatur nobis et adipisci modi odio exercitationem corrupti!</p>
            </div>
            <div class="items-center h-auto">
                <h1>TEXT</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis et, dignissimos ipsa maxime, nesciunt nobis deserunt minima voluptatibus, possimus autem repellat! Nulla, aspernatur nobis et adipisci modi odio exercitationem corrupti!</p>
            </div><div class="items-center h-auto">
                <h1>TEXT</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis et, dignissimos ipsa maxime, nesciunt nobis deserunt minima voluptatibus, possimus autem repellat! Nulla, aspernatur nobis et adipisci modi odio exercitationem corrupti!</p>
            </div>
        </div>
	</main>
</Layout>
