---
import '@/globals.css';
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import HomepageCarousel from '@/components/HomepageCarousel.svelte';
---

<Layout title="Home">
	<header class="sticky top-0 z-50">
		<Navbar/>
	</header>
	<main class="h-screen">
		<HomepageCarousel client:load slides={[
			{
				title:"Lorem Ipsum",
				image:{
					path:"/images/IMG_7815.JPG",
				},
				text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis erat in ante dignissim euismod id quis diam.",
				actionLabel:"Click",
				actionTo:"/"
			}
		]}/>
	</main>
</Layout>
