---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../globals.css';
---

<Layout title="Home">
	<header>
		<Navbar/>
	</header>
	<main>

	</main>
</Layout>
