---
import "@/globals.css";
import FooterLink from "./FooterLink.astro";
---
<div class="flex bg-[hsl(var(--alt3-background))] w-full text-white flex-col items-center p-2">
    <div class="m-4 font-display text-2xl">Don't walk, do the robot!</div>
    <div class="flex shrink justify-around gap-6">
        <!-- NOTE these being hidden on small aspect rations is a dev fix to stop them messing with other layout. should fix in future. -->
        <FooterLink href="/about">About</FooterLink>
        <FooterLink href="/news">News</FooterLink>
        <FooterLink href="/contact">Contact</FooterLink>
    </div>
    <div class="m-2 text-sm">© <a class="font-sans text-sm text-white" href="https://hillsroad.ac.uk/" target="_blank">Hills Road Sixth Form College</a> 2025</div>
</div> 