---
import "@/globals.css";
import RCLogo from "@/components/RoboConLogo.astro"
import NavbarLink from "./NavbarLink.astro";
---
<div class="navbar bg-white p-2 h-12 shadow-md">
    <RCLogo/>
    <div class="flex float-end items-center h-full">
        <NavbarLink to="/about">About Us</NavbarLink>
        <NavbarLink to="/blog">Blog</NavbarLink>
        <NavbarLink to="/docs">Docs</NavbarLink>
        <NavbarLink to="/compete">Compete</NavbarLink>
        <NavbarLink to="/sponsor">Sponsor</NavbarLink>
    </div>
</div>