---
import "@/globals.css";
import RCLogo from "@/components/RoboConLogo.astro"
---
<div class="navbar">
    <RCLogo/>
    <a href="/sponsor">Sponsor</a>
    <a href="/compete">Compete</a>
    <a href="/docs">Docs</a>
    <a href="/blog">Blog</a>
    <a href="/about-us">About Us</a>
</div>
<style>
    .navbar {
        display:block;
        padding:0.5rem;
        height:3rem;
    }

    a {
        text-decoration: none;
        font-family: "Courier New", Courier, monospace;
        font-weight: 800;
        float: right;
        display: block;
        color: black;
        text-align: center;
        margin: 0.5rem;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
