---
import "@/globals.css";
import RCLogo from "@/components/RoboConLogo.astro"
---
<div>
    <RCLogo/>
    <a href="/sponsor">Sponsor</a>
    <a href="/compete">Compete</a>
    <a href="/docs">Docs</a>
    <a href="/blog">Blog</a>
    <a href="/about-us">About Us</a>
</div>
<style>
    a {
        text-decoration: none;
        font-family: "Courier New", Courier, monospace;
        font-weight: 800;
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 20px;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
