---
import "@/globals.css";
import RCLogo from "@/components/RoboConLogo.astro"
import NavbarLink from "./NavbarLink.astro";
import Button from "@/components/ui/button/button.svelte";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="navbar bg-[hsl(var(--alt-background))] p-2 md:h-12 h-auto shadow-md">
    <RCLogo/>

    <div id="hamburger" class="flex float-end items-center h-full md:hidden cursor-pointer">
        <svg viewBox="0 0 100 80" width="30" height="30" fill="currentColor">
            <rect width="100" height="10"></rect>
            <rect y="30" width="100" height="10"></rect>
            <rect y="60" width="100" height="10"></rect>
        </svg>
    </div>

    <div id="navbar" class="md:flex md:float-end items-center h-full hidden"> 
        <NavbarLink to="/about">About Us</NavbarLink>
        <NavbarLink to="/news">News</NavbarLink>
        <NavbarLink to="https://docs.robocon.uk">Docs</NavbarLink>
        <NavbarLink to="/compete">Compete</NavbarLink>
        <NavbarLink to="/sponsor">Sponsor</NavbarLink>
        <Button class="text-sm font-mono font-semibold bg-primary ml-3 mr-2" href="/contact">Get In Touch</Button>
        <ThemeToggle />
    </div>

    <div id="mobile-navbar" class="block h-full pt-6 hidden"> 
        <div class="flex flex-wrap gap-y-4 mb-2">
            <NavbarLink to="/about">About Us</NavbarLink>
            <NavbarLink to="/news">News</NavbarLink>
            <NavbarLink to="https://docs.robocon.uk">Docs</NavbarLink>
            <NavbarLink to="/compete">Compete</NavbarLink>
            <NavbarLink to="/sponsor">Sponsor</NavbarLink>
            <Button class="text-sm font-mono font-semibold bg-primary mx-3" href="/contact">Get In Touch</Button>
        </div>
        <ThemeToggle />
    </div>
</div>

<script>
const mobile_navbar = document.getElementById("mobile-navbar")!;

document.getElementById("hamburger")!.addEventListener("click", function() {
    toggleNavbar();
});

function toggleNavbar() {
    mobile_navbar.classList.toggle("hidden");
    mobile_navbar.classList.toggle("md:hidden");
}
</script>
