---
import "@/globals.css"
interface Props {
    clickable?: boolean;
    href?:string;
}
let { clickable = true, href="/" } = Astro.props
---
<a href={clickable ? href : ""} class="logo" >
    ROBOCON
</a>
<style>
    .logo {
        height:1em;
        font-family: "Fugaz One";
        font-size: 2em;
        line-height: 1em;
        padding-left: 0.1em;
        padding-right:0.1em;
        color: var(--rc-red);
        text-decoration: none;
        color: red;
        text-shadow: -0.05em 0.05em black;
        cursor: {clickable ? "auto" : "default"};
    }
</style>