@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'FugazOne';
    src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('/fonts/OverpassMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('/fonts/RubikMonoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 4 100% 57%; /* #FF3123 robocon red */
    --primary-foreground: 210 40% 98%; /* idk, to change */
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.4rem;

    --rclogo-foreground: 4 100% 57%;

    /* Custom light mode colour variables */

    --alt-background: 0 0% 100%;
    --alt2-background: 214.29 31.82% 91.37%;
    --alt3-background: 215.56 31.03% 17.06%;
    --text-dim: 0 0% 25.1%;
    --text-subtitle: 215.38 22.03% 34.71%;
  }
 
  .dark {
    --background: 15 16% 9.8%;
    --foreground: 0 0% 100%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 8.86 97.78% 82.35%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;

    /* Custom dark mode colour variables */

    --alt-background: 8 18.52% 15.88%;
    --alt2-background: 8 18.52% 15.88%;
    --alt3-background: 10 18.18% 12.94%;
    --text-dim: 0 0% 63.14%;
    --text-subtitle: 0 0% 100%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a {
  color: red;
  font-family: 'Overpass Mono';
  text-decoration: underline;
}