---
import Layout from "./Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import NewsReel from "@/components/NewsReel.astro";

const { frontmatter } = Astro.props;
let updatedDate = new Date(frontmatter.lastUpdated);

let lastUpdatedStr = updatedDate.toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' });
---
<Layout title={frontmatter.title + " - RoboCon"}>
  <header class="sticky top-0 z-50">
    <Navbar />
  </header>
  <main>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="h-[400px] w-full object-cover"/>
    <div class="max-w-[800px] m-auto p-4">
      <h1 class="text-4xl font-display font-bold text-center my-4">{frontmatter.title}</h1>
      <a href="/news">&lt;- All News</a>
      <p class="text-[hsl(var(--text-subtitle))] text-sm italic mt-[5px] text-left float-right">{"Last updated: "+lastUpdatedStr}</p>
      <div
        class="prose prose-newsMarkdown mb-4">
        <slot />
      </div>
    </div>
    <NewsReel />
  </main>
  <footer class="flex bg-[hsl(var(--alt3-background))] w-full text-white flex-col items-center p-2">
    <Footer />
  </footer>
</Layout>