---
import Layout from "./Layout.astro";
import Navbar from "@/components/Navbar.astro";
import FooterLink from "@/components/FooterLink.astro";

interface Props {
    title: string;
}
---

<Layout {...Astro.props}>
    <header class="sticky top-0 z-50">
        <Navbar />
    </header>
    <main>
        <slot />
    </main>
    <footer class="flex bg-gray-800 w-full text-white flex-col items-center p-2">
        <div class="flex w-full items-start justify-evenly m-2">
            <div>
                <!-- Logo, etc here? -->
            </div>
            <div>
                <h1>Pages</h1>
                <FooterLink href="">Test</FooterLink>
                <FooterLink href="">Test</FooterLink>
            </div>
            <div>
                <!-- More pages? -->
            </div>
        </div>
        <div class="m-2">© Hills Road Sixth Form College 2025</div>
    </footer>
</Layout>
