---
import "@/globals.css";
import Button from "@/components/ui/button/button.svelte";

interface Props {
    title: string;
    description: string;
    href: string;
    linkText: string;
    backgroundColour: string;
}
var {title, description, href, linkText, backgroundColour} = Astro.props;
if (backgroundColour == null) {
    backgroundColour = "red";
}
---
<div class="items-center h-auto border rounded-md shadow-md p-4 hover:scale-105  duration-200 flex flex-col justify-between">
    <slot />
    <h1 class="font-display text-xl m-4 text-center">{title}</h1>
    <p>{description}</p>
    <Button class="h-8 mt-2 text-lg p-5 font-mono font-semibold w-[100%] bottom-0" style={"background-color:"+backgroundColour+";"} href={href}>{linkText}</Button>
</div>